/* MAIN PART ***************************************************/

body{ background-color: rgba(200, 222, 206, 0.6); margin-top: 40pt;margin-bottom: 40pt;}

.footer
{
	position: fixed; 
	bottom: 0pt; 
	left: 0pt; 
	width: 100%;
	display: grid; 
	grid-template-columns: auto auto;
}

	

.navBar{
	position: fixed;
	top: 0pt;
	left: 0pt;
	background-color: rgb(100, 200, 100);
	display: grid;
 	grid-template-columns: 200pt 200pt 200pt 200pt;
 	width: 150%;
 	z-index: 1;
}

.item-menu:hover { background-color: rgb(50, 180, 50); }

.item-menu
{
	text-decoration:none; 
  	color: black;
  	text-align: center;
  	margin-left: 0pt;
  	margin-right: 0pt;
  	padding: 5pt;
}

th, td
{
	text-align: center;
	padding: 5pt 5pt;
	border: 1pt solid;
}

th{background: rgb(240, 250, 230);}

.infoArea, .userBox{border: 1pt solid;}

table, .infoArea{background-color: rgb(200, 220, 200);}

table, .infoArea, #descriptionBox, .footer, #boxDescriptionInvoice, .userBox
{margin: 5pt;}

table thead th 
{
	position: sticky;
	top: 33pt;
}

h1, h2, label,
p, input, button, .grid-item-text, .grid-item-label, select, #descriptionBox, #infoMessageBox
{
	margin: 10pt;
}

h1{font-size: 30pt;}

h2{font-size: 25pt;}

td, th,
label, p, input, button, a, .item-menu, .grid-item-text, #infoMessage, .errorMessageBox, .successMessageBox {
	font-size: 20pt;
}

img
{
	width: 150pt;
	height: 150pt;
}

.tdDescription{text-align: left;}

#boxDescriptionInvoice
{
	text-align: justify;
	border: 1pt dotted;

	display: grid;
	grid-template-columns: 400pt;

	margin-bottom: 40pt;
	padding: 5pt;
}

#boxDescriptionInvoice {background-color: rgba(200, 200, 200, .2);}

#boxDescriptionInvoice, select {font-size: 17pt;}

.userBox{
	background-color: rgb(200, 222, 206);
	padding : 5pt;
	display: inline-block;
}

.grid-item-label {text-align: right;}

.grid-container-userForm {
    display: inline-grid;
    grid-template-columns: auto auto;
}

.grid-container-userBoxGroup
{
	display: grid;
    grid-template-columns: auto auto;
}

.grid-container-three-item
{
	display: inline-grid;
  	grid-template-columns: auto auto auto;
}

.grid-container-two-item
{
	display: inline-grid;
  	grid-template-columns: auto auto;
}


.errorMessageBox, .successMessageBox{margin: 10pt;}
.successMessage{color: rgb(20, 80, 20);}
.errorMessage{color: red;}

.col-button-title
{
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.secretTable tr td{font-size: 14pt;}

/* ADAPTATION PART ***************************************************/

@media (max-width:1350pt) {

	.secretTable tr td{font-size: 12pt;}

	td, th,
	label, p, input, button, a, .item-menu, .grid-item-text, #infoMessage, .errorMessageBox, .successMessageBox {
		font-size: 16pt;
	}

	#boxDescriptionInvoice, select {font-size: 14pt;}

	h1{font-size: 25pt;}

	h2{font-size: 20pt;}

	table thead th {top: 28.5pt;}

}

@media (max-width:950pt) {

	label, p, input, button, a, select, th, td, .grid-item-text, #infoMessage, .errorMessageBox, .successMessageBox {
		font-size: 14pt;
	}

	.grid-container-userBoxGroup
	{
		display: grid;
    	grid-template-columns: auto;
	}

	.navBar{grid-template-columns: 150pt 180pt 140pt 140pt;}

	#boxDescriptionInvoice{grid-template-columns: 300pt;}

}


@media (max-width:600pt) {

	.navBar{grid-template-columns: 120pt 120pt 120pt 120pt;}

	h1, h2, label, p, input, button, .grid-item-text, .grid-item-label, select, #descriptionBox, #infoMessageBox
	{
		margin: 5pt;
	}

	h1{font-size: 18pt;}

	h2{font-size: 16pt;}

	label, p, input, a, button, .grid-item-text, #infoMessage, .errorMessageBox, .successMessageBox {
		font-size: 13pt;
	}

	select{font-size: 11pt;}

	table thead th {top: 29pt;}

}


@media (max-width:500pt) {

	.navBar{grid-template-columns: 90pt 90pt 90pt 90pt;}

	.item-menu{font-size: 13pt;}

	label, p, input, a, button, .grid-item-text, #infoMessage, .errorMessageBox, .successMessageBox {
		font-size: 12pt;
	}

	select{ font-size: 8pt; }

	.userBox{margin: 0pt;}

	th, td
	{
		font-size: 10pt;
		padding: 2pt 2pt;
	}

	table thead th {top: 40pt;}

}

@media (min-width:950pt) {

	.leftPart
	{
		float: left;
		position: sticky;
		top : 45pt;
	}

}