/* MAIN PART ***************************************************/

body{
	background-color: rgba(200, 222, 206, 0.3);
}

.navBar{
	position: sticky;
	top: 0;
	background-color: rgb(100, 200, 100);
	display: grid;
    grid-template-columns: 200pt 200pt 200pt;
}

.item-menu:hover {
  background-color: rgb(50, 180, 50);
}

.item-menu
{
	text-decoration:none; 
  	color: black;
  	text-align: center;
  	margin-left: 0pt;
  	margin-right: 0pt;
  	padding: 5pt;
}



th, td
{
	font-size: 15pt;
	text-align: center;
	padding: 5pt 5pt;
}

th
{
	background: rgba(240, 250, 230, 1);
}

.infoArea, th, td
{
	border: 1pt solid;
}

table, .infoArea
{
	background-color: rgb(200, 220, 200, 0.5);
}

table, .infoArea, #descriptionBox
{
	margin: 5pt;
}

table thead th 
{
	position: sticky;
	top: 27pt;
}

h1, h2, label, p, input, button, .grid-item-text, .grid-item-label, select, #descriptionBox, #infoMessageBox
{
	margin: 10pt;
}

h1
{
	font-size: 25pt;
}

h2
{
	font-size: 20pt;
}

label, p, input, button, a, .grid-item-text, #infoMessage, #errorMessageBox, #successMessageBox {
	font-size: 15pt;
}

select
{
	font-size: 14pt;
}

img
{
	width: 150pt;
	height: 150pt;
}

#errorMessageBox, #successMessageBox
{
	margin: 20pt;
}

.tdDescription
{
	text-align: left;
}

#boxDescriptionInvoice, #boxDescriptionMyAccount
{
	text-align: justify;
	border: 1pt dotted;
	
	font-size: 15pt;

	display: grid;
	grid-template-columns: 300pt;

	margin: 5pt;
	padding: 5pt;
}

#boxDescriptionInvoice {
	background-color: rgba(200, 200, 200, .2);
}

#boxDescriptionMyAccount {
	background-color: rgba(200, 200, 200, .5);
}

.userBox{
	background-color: rgba(200, 222, 206);
	border: solid 1pt;
	margin: 5pt;
	padding : 5pt;
}

.grid-item-label {
  text-align: right;
}


.grid-container-userForm {
    display: grid;
    grid-template-columns: 200pt auto;
}

.grid-container-userFormGroup {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-container-userBoxGroup
{
	display: grid;
    grid-template-columns: auto auto;
}

.grid-container-selection
{
	display: grid;
    grid-template-columns: 150pt 150pt 90pt 90pt;
    text-align: left;
}


#errorMessage{
	color: red;
	background-color: rgba(234, 122, 122, 0.2);
	padding: 4pt;
	border : 1pt dotted;
}



#successMessage{
	color: green;
	background-color: rgba(122, 122, 230, 0.2);
	padding: 4pt;
	border : 1pt dotted;
}

.LeftPart
{
	float: left;
	position: sticky;
	top : 45pt;
}


/* ADAPTATION PART ***************************************************/

@media (max-width:1350pt) {

	h1, h2, label, p, input, button, .grid-item-text, .grid-item-label, select, #descriptionBox, #infoMessageBox
	{
		margin: 6pt;
	}

	#errorMessageBox, #successMessageBox
	{
		margin: 15pt;
	}

	h1
	{
		font-size: 20pt;
	}

	h2
	{
		font-size: 18pt;
	}

	label, p, input, button, a, .grid-item-text, #infoMessage, #errorMessageBox, #successMessageBox {
		font-size: 13pt;
	}

	select
	{
		font-size: 12pt;
	}

	.grid-container-selection
	{
		display: grid;
	    grid-template-columns: 120pt 120pt 75pt 75pt;
	    text-align: left;
	}

}


