body 
{
    background-color: rgba(150, 150, 150, 0.3);
}

th, td
{
	font-size: 15pt;
	padding: 10px 10px;
}

td 
{
	text-align: center;
}

th
{
	text-align: center;
}

p {
	font-size: 15pt;
}

.tdDescription
{
	width: 40%;
	text-align: justify;
}

.tdDesignation
{
	width: 30%;
	text-align: justify;
}

.tdName
{
	width: 10%;
}

.tdInvoiceCode
{
	width: 10%;
}

.tdClientCode
{
	width: 10%;
}

.inputText
{
	font-size: 12pt;
	padding: 4pt;
	margin: 4pt;
}

.inputButton
{
	font-size: 15pt;
	margin-top: 30pt;
}

.logOffButton
{
	font-size: 15pt;
	margin-bottom: 30pt;
}

.above_result_area
{
	display:flex; justify-content:flex-end; width:100%; padding:0;
}

.filter
{
	font-size: 15pt;
	margin: 5pt;
}


.searchGrid {
	display: grid;
  	grid-template-columns: 200pt auto;
  	margin : 10pt;
}

.searchGridResult{
	background-color: rgba(255, 255, 50, .3);
	padding: 10pt;
	border: 1px solid grey;
}

.searchGridFilter{
	background-color: rgba(255, 255, 50, .3);
	padding: 10pt;
	border: 1px solid grey;
}
