label,input {
	font-size: 18pt;
	margin: 5pt;
}

th, td
{
	font-size: 15pt;
	text-align: center;
	padding: 10pt 10pt;
}

th
{
	background: rgba(240, 250, 230, 1);
}


table, .filterArea
{
	background-color: rgba(255, 255, 50, .3);
}

table thead th 
{
	position: sticky;
	top: 0pt;
}

.tdDescription
{
	text-align: justify;
	width: 40%;
}

.researchButton
{
	margin-top: 30pt;
}

.logoffButton
{
	margin: 10pt;
}

.filterArea{
	padding: 10pt;
	border: 1px solid grey;
	margin: 10pt;
}

@media (min-width:1100pt){

	th, td
	{
		font-size: 15pt;
		text-align: center;
		padding: 10pt 10pt;
	}

	.dashboardLeftPart{
		float: left;
		position: sticky;
		top: 10pt;
	}

	.infoMessageBox{
		position: relative;
		top: 50pt;
	}
}

.infoMessageBox{
	font-size: 18pt;
}


@media (min-width:1100pt){

	th, td
	{
		font-size: 15pt;
		text-align: center;
		padding: 5pt 5pt;
	}

}

@media (max-width:1100pt) and (min-width:950pt){

	th, td
	{
		font-size: 15pt;
		text-align: center;
		padding: 5pt 5pt;
	}

	table{
		width: 70%;
	}
	
}

@media (max-width:950pt) and (min-width:800pt){

	th, td
	{
		font-size: 15pt;
		text-align: center;
		padding: 5pt 5pt;
	}

	table{
		width: 60%;
	}
	
	.tdDescription, .thDescription{
		display: none;
	}

}

@media (max-width:800pt) and (min-width:700pt){

	th, td
	{
		font-size: 12pt;
		text-align: center;
		padding: 5pt 5pt;
	}

	table{
		width: 50%;
	}

}

@media (max-width:800pt){

	.dashboardLeftPart
	{
		float: left;
	}

}

@media (min-width:800pt){
	.dashboardLeftPart
{
	float: left;
	position: sticky;
	top: 10pt;
}
}