label,input {
	font-size: 18pt;
	margin: 5pt;
}

th, td
{
	font-size: 15pt;
	text-align: center;
	padding: 5pt 5pt;
}

th
{
	background: rgba(240, 250, 230, 1);
}


table, .filterArea
{
	background-color: rgba(255, 255, 50, .3);
}

table thead th 
{
	position: sticky;
	top: 0pt;
}

.tdDescription
{
	text-align: justify;
}

.researchButton
{
	margin-top: 30pt;
}

.logoffButton
{
	margin: 10pt;
}

.filterArea{
	padding: 10pt;
	border: 1px solid grey;
	margin: 10pt;
}

.infoMessageBox
{
	font-size: 18pt;
}

.infoMessageBox{
	position: relative;
	top: 50pt;
}

@media (min-width:1000pt) and (max-width:1100pt) {

	th, td
	{
		font-size: 14pt;
		text-align: center;
		padding: 5pt 0pt;
	}

	label,input {
		font-size: 14pt;
		margin: 5pt;
	}

}

@media (min-width:850pt) and (max-width:1000pt) {

	th, td
	{
		font-size: 12pt;
		text-align: center;
		padding: 5pt 0pt;
	}

	label,input {
		font-size: 12pt;
		margin: 5pt;
	}

}


@media (min-width:600pt) and (max-width:850pt) {

	th, td
	{
		font-size: 12pt;
		text-align: center;
		padding: 5pt 0pt;
	}

	label,input {
		font-size: 12pt;
		margin: 5pt;
	}

	.tdDescription, .thDescription{
		display: none;
	}

}

@media (min-width:460pt) and (max-width:600pt) {

	th, td
	{
		font-size: 8pt;
		text-align: center;
		padding: 5pt 0pt;
	}

	label,input {
		font-size: 9pt;
		margin: 5pt;
	}

	.tdDescription, .thDescription{
		display: none;
	}

	.filterArea{
		padding: 0pt;
		border: 1px solid grey;
		margin-bottom: 10pt;
	}

}

@media (min-width:460pt) {

	.dashboardLeftPart
	{
		float: left;
		position: sticky;
		top: 10pt;
	}

}

@media (max-width:460pt) {

	th, td
	{
		font-size: 10pt;
		text-align: center;
		padding: 5pt 0pt;
	}

	label,input {
		font-size: 13pt;
		margin: 5pt;
	}

	.tdDescription, .thDescription{
		display: none;
	}

	.infoMessageBox{
		position: relative;
		top: 10pt;
	}


}


