/* MAIN PART ***************************************************/

.navBar{
	position: sticky;
	top: 0;
	border: 1pt solid;
}

th, td
{
	font-size: 15pt;
	text-align: center;
	padding: 5pt 5pt;
}

th
{
	background: rgba(240, 250, 230, 1);
}

table, .infoArea
{
	background-color: rgb(200, 220, 200, 0.5);
}

table, .infoArea, #descriptionBox
{
	border: 1px solid grey;
	margin: 5pt;
}

table thead th 
{
	position: sticky;
	top: 42.5pt;
}

h1, h2, label, p, input, button, a, .grid-item-text, .grid-item-label, select, #descriptionBox
{
	margin: 8pt;
}

h1
{
	font-size: 25pt;
}

h2
{
	font-size: 20pt;
}

label, p, input, button, a, .grid-item-text {
	font-size: 15pt;
}

select
{
	font-size: 14pt;
}

.tdDescription
{
	text-align: left;
}

#infoMessage
{
	font-size: 20pt;
}

#boxDescriptionInvoice, #boxDescriptionMyAccount
{
	text-align: justify;
	border: 1pt dotted;
	
	font-size: 15pt;

	display: grid;
	grid-template-columns: 300pt;

	margin: 5pt;
	padding: 5pt;
}

#boxDescriptionInvoice {
	background-color: rgba(200, 200, 200, .2);
}

#boxDescriptionMyAccount {
	background-color: rgba(200, 200, 200, .5);
}

.grid-container-buttons {
    display: grid;
    grid-template-columns: 240pt 240pt 240pt;
    background-color: rgb(200, 220, 200);
}

/* USER FORM PART ***************************************************/

.userFormBox{
	background-color: rgba(200, 222, 206);
	border: solid 1pt;
	margin: 5pt;
	padding : 5pt;
}

.grid-item-label {
  text-align: right;
}

.grid-container-userForm {
    display: grid;
    grid-template-columns: auto auto; 
    float: left; 
}

.grid-container-forms
{
	display: grid;
    grid-template-columns: auto auto;
}

#errorMessageBox{
    text-align: center;
    font-size: 15pt;
    margin: 10pt;
}

#errorMessage{
	color: red;
	background-color: rgba(234, 122, 122, 0.2);
	padding: 4pt;
	border : 1pt dotted;
}

/* ADAPTATION PART ***************************************************/

@media (min-width:800pt) and (max-width:1000pt) {

	th, td
	{
		font-size: 14pt;
		text-align: center;
		padding: 5pt 5pt;
	}

	label, p, input, button {
		font-size: 16pt;
	}

	h1
	{
		font-size: 20pt;
		margin: 10pt;
	}

}


@media (min-width:500pt) {

	.LeftPart
	{
		float: left;
		position: sticky;
		top : 42.5pt;
	}

}
