label, p {
  font-size: 15pt;
}

input {
  font-size: 15pt;
}

.grid-container-index {
  display: grid;
  grid-template-columns: 140pt 100pt;

}

.grid-item-label {
  text-align: right;
  margin: 5pt;
}

.grid-item-input-text {
  text-align: left;
  margin: 5pt;
}

.grid-item-input-button {
  text-align: center;
  margin: 20pt;
}

.error_message{
  color: #D8000C;
  background-color: rgba(220, 172, 159, 0.6);
  text-align: center;
  margin-right: 900pt;

  background-image: url('../images/error.jpg');
  background-repeat: no-repeat;
  background-size: 50pt;
}

.signInBox{
  background: rgba(157, 172, 156);
  padding: 5pt;
}


p{
  padding: 5pt;
}