label, input {
  font-size: 15pt;
}

.grid-container-index {
  display: grid;
  grid-template-columns: 140pt 100pt;

}

.grid-container-forms {
  display: grid;
  grid-template-columns: 600pt 600pt;

}

.grid-item-label {
  text-align: right;
  margin: 5pt;
}

.grid-item-input-text {
  text-align: left;
  margin: 5pt;
}

.grid-item-input-button {
  text-align: center;
  margin: 20pt;
}

.errorMessageBox{
  color: #D8000C;
  background-color: rgba(220, 172, 159, 0.6);
  text-align: center;
  margin-right: 1000pt;
  margin-left: 50pt;
  padding: 5pt;
  font-size: 15pt;
}

.signInBox{
  background: rgba(200, 222, 206);
  padding: 10pt;
}

.signUpBox{
  background: rgba(150, 202, 200);
  padding: 10pt;
}