label, p {
	font-size: 15pt;
}

input {
  font-size: 20pt;
  margin: 5pt;
}

th, td
{
	font-size: 15pt;
	text-align: center;
	padding: 10pt 10pt;
}

th
{
	background: rgba(240, 250, 230, 1);
}


table
{
	overflow-y: auto;
	border-collapse: collapse;
	background-color: rgba(255, 255, 50, .3);
}


table thead th 
{
	position: sticky;
	top: 0;
}

.td_description
{
	text-align: justify;
}

.td_designation
{
	text-align: justify;
}

.return_button
{
	position: sticky;
	bottom: 10pt;
	margin: 10pt;
}

.result_box{
	background-color: rgba(255, 255, 50, .3);
	padding: 10pt;
	border: 1px solid grey;
}

@media (min-width:600pt) and (max-width:800pt) {

	th, td
	{
		font-size: 12pt;
		text-align: center;
		padding: 5pt 0pt;
	}

	

}

@media (min-width:460pt) and (max-width:600pt) {

	th, td
	{
		font-size: 10pt;
		text-align: center;
		padding: 5pt 0pt;
	}

	.tdDescription, .thDescription{
		display: none;
	}

}

@media (max-width:460pt) {

	th, td
	{
		font-size: 10pt;
		text-align: center;
		padding: 5pt 0pt;
	}

	.tdDescription, .thDescription{
		display: none;
	}

}